@page
@model Mileage.WebApp.Pages.Settings.Defaults.IndexModel
@{
	Layout = null;
	var settings = Model.Settings;
}

<h3>Defaults</h3>

<div>
	Default car:
	<vc:car
		edit-path="Defaults/EditDefaultCar"
		car-id="@settings.DefaultCarId"
		journey-id="null"
	/>
</div>

<div>
	Default starting place:
	<vc:place
		edit-path="Defaults/EditDefaultFromPlace"
		place-id="@settings.DefaultFromPlaceId"
		journey-id="null"
	/>
</div>
