@page
@model Mileage.WebApp.Pages.IndexModel

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
	<title>Mileage Tracker</title>

	<!-- iOS meta -->
	<meta name="theme-color" content="#333" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="apple-touch-icon" href="/apple-touch-icon-bg-white.png" />

	<!-- Style -->
	<environment names="Development">
		<link rel="stylesheet" href="~/css/bundles/1.0/mileage-lib.css" />
		<link rel="stylesheet" href="~/css/bundles/1.0/mileage.css" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="~/css/bundles/1.0/mileage-lib.min.css" asp-append-version="true" />
		<link rel="stylesheet" href="~/css/bundles/1.0/mileage.min.css" asp-append-version="true" />
	</environment>

	<!-- Script -->
	<script type="text/javascript" csp-add-nonce="true">
		var readyF = [];
		var ready = (f) => readyF.push(f);
		var home = "@Url.Page("Journeys/Index", "Lists")";
	</script>

</head>
<body class="d-flex flex-column h-100">

	<div class="sticky-top">

		<!-- Header -->
		<vc:header />

		<!-- Status Bar -->
		<vc:status-bar />

	</div>
	
	<!-- Content -->
	<main role="main" id="content" class="flex-grow-1"></main>

	<!-- Footer -->
	<vc:footer />

	<!-- Script -->
	<environment names="Development">
		<script src="~/lib/font-awesome/js/all.js" data-auto-add-css="false"></script>
		<script src="~/js/bundles/mileage-lib.js"></script>
		<script src="~/js/bundles/mileage.js"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="~/lib/font-awesome/js/all.min.js" data-auto-add-css="false" asp-append-version="true" csp-add-nonce="true"></script>
		<script src="~/js/bundles/mileage-lib.min.js" asp-append-version="true" csp-add-nonce="true"></script>
		<script src="~/js/bundles/mileage.min.js" asp-append-version="true" csp-add-nonce="true"></script>
	</environment>
	<script type="text/javascript" csp-add-nonce="true">
		$.each(readyF, (_, f) => f());
	</script>
	
	<div id="create" class="fixed-bottom"></div>
	<div id="update" class="fixed-bottom"></div>
	<div id="delete" class="fixed-bottom"></div>

</body>
</html>
