/// <reference path="mileage" />

body {
  background-color: #fff;
  margin: 0 auto;
}

.hide {
  display: none;
}

@media print {
  body {
    font-size: 1rem;
  }

  .container {
    max-width: 100% !important;
  }
}
