/// <reference path="mileage" />

#edit, #delete {
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  height: 100%;
  padding-top: 150px;

  .modal-dialog {
    margin: 3rem auto;
  }
}

#edit {
  .list-items {
    .list-item {
      display: inline;
    }
  }
}
