/// <reference path="mileage" />

.statusbar {
  background-color: #fff;
  min-height: 47px;

  .message-wrapper {
    padding-top: 6px;
  }

  .message {
    background-color: #ffffcc;
    border: 1px solid shade-color(#ffffcc, 10%);
    max-height: 150px;
    padding: 5px 8px;
    width: calc(100% - 10px);

    .fa-check {
      color: forestgreen;
    }

    .fa-triangle-exclamation {
      color: darkorange;
    }

    .fa-ban {
      color: red;
    }

    .close:hover {
      cursor: pointer;
    }

    .manual {
      color: red;
    }
  }

  .btn-create {
    cursor: pointer;
    font-size: 35px;
    line-height: 1em;
  }
}
