/// <reference path="mileage" />

.statusbar {
  background-color: #fff;
  min-height: 49px;

  .message-wrapper {
    padding-top: 5px;
  }

  .message {
    background-color: #ffffcc;
    border: 1px solid shade-color(#ffffcc, 10%);
    max-height: 150px;
    padding: 5px 8px;
    width: calc(100% - 5rem);

    .fa-check {
      color: forestgreen;
    }

    .fa-triangle-exclamation {
      color: darkorange;
    }

    .fa-ban {
      color: red;
    }

    .close:hover {
      cursor: pointer;
    }

    .manual {
      color: red;
    }
  }

  .btn-create {
    cursor: pointer;
    font-size: 4.5rem;
    line-height: 1rem;
    margin-top: -1rem;
    text-shadow: 0 0 3px #fff;

    .fa-circle-plus path {
      stroke: white;
      stroke-width: 20px;
    }
  }
}
