/// <reference path="mileage" />

.statusbar {
  min-height: 47px;

  .message {
    background-color: #ffffcc;
    border: 1px solid shade-color(#ffffcc, 10%);
    margin-top: 7px;
    max-height: 150px;
    max-width: calc(100% - 55px);
    overflow-y: auto;
    padding: 5px 8px;

    .fa-check {
      color: forestgreen;
    }

    .fa-triangle-exclamation {
      color: darkorange;
    }

    .fa-ban {
      color: red;
    }

    .close:hover {
      cursor: pointer;
    }

    .manual {
      color: red;
    }
  }

  .btn-create {
    cursor: pointer;
    float: right;
    max-height: 40px;
    font-size: 35px;
  }
}
