@model WebApp.Pages.Settings.Cars.DeleteModel
@{
	Layout = "Modals/DeleteModal";
}

<form action="@Url.Page("Index", "Delete")" method="post">
	
	@if (Model?.Operation != Persistence.Common.DeleteOperation.None)
	{
		<div>
			@Model?.Car.Description
			@if (Model?.Car.NumberPlate is string plate)
			{
				<text> (@plate)</text>
			}
		</div>
	}

	@Html.AntiForgeryToken()
	@Html.HiddenForId(m => m.Car.Id)

</form>
