@model Mileage.WebApp.Pages.Components.Footer.FooterModel
@{
	ArgumentNullException.ThrowIfNull(Model);
}

<footer class="footer mt-auto py-3 fixed-bottom border-top">
	<div class="container">
		<span class="text-muted">
			Copyright &copy; <a title="bfren" href="https://bfren.dev">bfren</a> @Model.LastModified.Year<br/>
			Powered by <a href="https://github.com/bfren/jeebs" title="Jeebs">Jeebs</a> @Model.Build
		</span>
	</div>
</footer>
