@model Mileage.WebApp.Pages.Components.Footer.FooterModel

<footer class="footer mt-auto py-3">
	<div class="container">
		<span class="text-muted">
			Copyright &copy; <span title="bfren">bfren</span> @Model.LastModified.Year<br/>
			Powered by <a href="https://github.com/bfren/jeebs">Jeebs</a> @Model.Build
		</span>
	</div>
</footer>
