@page
@model Mileage.WebApp.Pages.Settings.IndexModel

<div class="container">

	<h2>Settings</h2>

	<ul class="nav nav-tabs nav-fill" id="settings" role="tablist">

		<li class="nav-item" role="presentation">
			<button id="defaults-tab"
				class="nav-link active"
				type="button"
				role="tab"
				data-bs-toggle="tab"
				data-bs-target="#defaults"
				aria-controls="defaults"
				aria-selected="true">Defaults</button>
		</li>
		
		<li class="nav-item" role="presentation">
			<button id="cars-tab"
				class="nav-link"
				type="button"
				role="tab"
				data-bs-toggle="tab"
				data-bs-target="#cars"
				aria-controls="cars"
				aria-selected="false">Cars</button>
		</li>

		<li class="nav-item" role="presentation">
			<button id="places-tab"
				class="nav-link"
				type="button"
				role="tab"
				data-bs-toggle="tab"
				data-bs-target="#places"
				aria-controls="places"
				aria-selected="false">Places</button>
		</li>

		<li class="nav-item" role="presentation">
			<button id="rates-tab"
				class="nav-link"
				type="button"
				role="tab"
				data-bs-toggle="tab"
				data-bs-target="#rates"
				aria-controls="rates"
				aria-selected="false">Rates</button>
		</li>

	</ul>

	<div class="tab-content mt-3" id="settingsContent">

		<div id="defaults"
			class="tab-pane face show active"
			role="tabpanel"
			aria-labelledby="defaults-tab"
			data-src="@Url.Page("Defaults/Index")"></div>

		<div id="cars"
			class="tab-pane face"
			role="tabpanel"
			aria-labelledby="cars-tab"
			data-src="@Url.Page("Cars/Index")"></div>

		<div id="places"
			class="tab-pane face"
			role="tabpanel"
			aria-labelledby="places-tab"
			data-src="@Url.Page("Places/Index")"></div>

		<div id="rates"
			class="tab-pane face"
			role="tabpanel"
			aria-labelledby="rates-tab"
			data-src="@Url.Page("Rates/Index")"></div>

	</div>

</div>

@section Scripts {
	<script type="text/javascript">
		ready(() => loadSettingsTab("#defaults"));
	</script>
}
