@page
@model Mileage.WebApp.Pages.Settings.IndexModel
@{
	var settings = Model.Settings;
}

<div class="container">

	<h2>Settings</h2>

	<div>
		Default car:
		<vc:car
			edit-path="EditDefaultCar"
			car-id="@settings.DefaultCarId"
			journey-id="null"
		/>
	</div>

	<div>
		Default starting place:
		<vc:place
			edit-path="EditDefaultFromPlace"
			place-id="@settings.DefaultFromPlaceId"
			journey-id="null"
		/>
	</div>

</div>
