@model WebApp.Pages.Settings.Places.DeleteModel
@{
	Layout = "Modals/DeleteModal";
}

<form action="@Url.Page("Index", "DeletePartial", new { placeId = Model?.Place.Id.Value })" method="post">

	<div>
		@Model?.Place.Description
		@if (Model?.Place.Postcode is string postcode)
		{
			<text> (@postcode)</text>
		}
	</div>

	@Html.AntiForgeryToken()
	@Html.HiddenForId(m => m.Place.Id)

</form>
