@model WebApp.Pages.Settings.Places.DeleteModel
@{
	Layout = "Modals/DeleteModal";
}

<form action="@Url.Page("Index", "Delete")"
	  method="post"
	  data-replace="places"
	  data-replace-contents="true">

	<div>
		@Model?.Place.Description
		@if (Model?.Place.Postcode is string postcode)
		{
			<text> (@postcode)</text>
		}
	</div>

	@Html.AntiForgeryToken()
	@Html.HiddenForId(m => m.Place.Id)

</form>
