@model Mileage.WebApp.Pages.Components.Header.HeaderModel

<header role="navigation">
	<nav class="navbar navbar-expand-md navbar-dark">
		<div class="container">
			<div class="d-flex flex-grow-1">
				<a asp-page="/index" class="navbar-brand" title="Mileage">Mileage</a>
				<div class="w-100 text-end d-flex align-items-center justify-content-end">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
						<i class="fas fa-bars"></i>
					</button>
				</div>
			</div>
			<div class="collapse navbar-collapse justify-content-end text-end" id="navbarMain" navbar>
				<ul class="navbar-nav ms-auto flex-nowrap">
					@foreach (var item in Model.Menu.Items)
					{
						string css = "";
						if (this.Context.Request.Path.Value?.StartsWith(item.Page, StringComparison.InvariantCultureIgnoreCase) == true)
						{
							css = "active";
						}

						<li class="nav-item">
							<a class="nav-link @css pl-3" asp-page="@item.Page" title="@item.Text">@item.Text</a>
						</li>
					}
				</ul>
			</div>
		</div>
	</nav>
</header>
