@model Mileage.WebApp.Pages.Journeys.HomeModel
@{
	ArgumentNullException.ThrowIfNull(Model);
}

<div class="container">

	<h2>Incomplete Journeys</h2>
	<div id="incomplete-journeys">
		<partial name="Journeys/_Incomplete" model="@Model.IncompleteJourneys"/>
	</div>

	<h2 class="mt-4">Recent Journeys</h2>
	<div id="recent-journeys">
		<partial name="Journeys/_Recent" model="@Model.RecentJourneys"/>
	</div>

</div>
