@using Mileage.Domain.GetIncompleteJourneys
@model Mileage.WebApp.Pages.Journeys.IncompleteModel

@{
	ArgumentNullException.ThrowIfNull(Model);
	
	var listModel = new ListModel("Incomplete", "incomplete-journeys") { Journeys = Model.Journeys };
}

<div id="incomplete-journeys">
	<partial name="_List" model="@listModel"/>
</div>
