<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
    <PropertyGroup>
        <DeleteExistingFiles>true</DeleteExistingFiles>
        <ExcludeApp_Data>false</ExcludeApp_Data>
        <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <PublishProvider>FileSystem</PublishProvider>
        <PublishUrl>D:\Temp\Publish\mileage</PublishUrl>
        <WebPublishMethod>FileSystem</WebPublishMethod>
        <SiteUrlToLaunchAfterPublish>https://mileage.revbcg.uk</SiteUrlToLaunchAfterPublish>
        <TargetFramework>net8.0</TargetFramework>
        <ProjectGuid>2f59a892-28cd-4be5-9ebb-eae2421b95c6</ProjectGuid>
        <SelfContained>false</SelfContained>
        <RuntimeIdentifier>linux-musl-x64</RuntimeIdentifier>
    </PropertyGroup>
    <Target Name="PublishToServer" AfterTargets="AfterPublish">
        <Exec Command="LPRun8 Q:\Publish\bcg.mileage.linq" />
    </Target>
</Project>