<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>D:\Temp\Publish\mileage.revbcg.uk</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net6.0</TargetFramework>
    <ProjectGuid>d8d80f22-88ee-488c-b76f-ed1d36f8b5cf</ProjectGuid>
    <SelfContained>false</SelfContained>
    <RuntimeIdentifier>alpine.3.15-x64</RuntimeIdentifier>
  </PropertyGroup>
  <Target Name="PublishToServer" AfterTargets="AfterPublish">
    <Exec Command="LPRun7 Q:\Personal\Software\LINQPad\Queries\Publish\bcg.Mileage.linq" />
  </Target>
</Project>